/* Transición suave para el acordeón */
.accordion-content {
    transition: max-height 0.3s ease-out, opacity 0.3s ease;
  }
  .rotate-180 {
    transform: rotate(180deg);
  }

  /* products.component.css */
.cursor-pointer {
  transition: transform 0.2s;
}

.cursor-pointer:hover {
  transform: scale(1.08);
}

.modal-image {
  transition: opacity 0.3s;
}

.thumbnail:hover {
  opacity: 0.8;
}

/* Transición suave para los botones */
button {
  transition: all 0.2s ease;
}

/* Efecto al hacer hover en los botones de acción */
.btn-action:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}